* {
    box-sizing: border-box;
  }
  
  body {
   background-color: #22254b;
   color: #fff;
   display: flex;
   flex-direction: column;
   font-family: "Poppins", sans-serif;
   margin: 0;
  }

.root{
    display: flex;
    flex-direction: column;
 
}

  header{
    background-color: #373b69;
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
  }
  
  .search{
    background-color: transparent;
      border: 2px solid #22254b;
      color: #fff;
      border-radius: 50px;
      font-family: inherit;
      font-size: 1.2rem;
  }
  
  .movie{
    
      background-color: #373b69;
      border-radius: 3px;
      box-shadow: 3px 3px 5px 
      rgba(0, 0, 0.1);
      overflow: hidden;
      position: relative;
      margin: 1rem;
      width: 300px;
  }
  


  
  .movie img{
    max-width: 100%;
    object-fit: cover;
    height: 300px;
  }
  
  .movie-container{
   
    display: flex;
    flex-wrap: wrap;
  }

  .movie-info{
      overflow: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
  }

  .movie-info h3{
      margin: 0;
  }

  .movie-over{
      background-color: #fff;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      box-shadow: 0px -3px 5px 
      rgba(0, 0, 0.1);
      color: #22254b;
      padding: 1rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
      max-height: 100%;
      transform: translateY(102%);
      transition: transform 0.3s ease-in-out;
  }


.movie:hover .movie-over{
    transform: translateY(0%);
}













ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }