* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

  
  body {
   background-color: #000;
   color: #fff;
   display: flex;
   flex-direction: column;
   font-family: "Poppins", sans-serif;
   margin: 0;
  }

.root{
    display: flex;
    flex-direction: column;
 
}

  .appheader{
    background-color: #121212;
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
  }
  
  .search{
    background-color: transparent;
      border: 2px solid purple;
      color:purple;
      border-radius: 50px;
      font-family: inherit;
      font-size: 1.2rem;
  }
  
  .movie{
    
      background-color: #101010;
      border-radius: 3px;
      box-shadow: 3px 3px 5px 
      rgba(0, 0, 0.1);
      overflow: hidden;
      position: relative;
      margin: 1rem;
      width: 300px;
  }
  


  
  .movie img{
    max-width: 100%;
    object-fit: cover;
    height: 300px;
  }
  
  .movie-container{
   
    display: flex;
    flex-wrap: wrap;
  }

  .movie-info{
      overflow: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
  }

  .movie-info h3{
      margin: 0;
  }

  .movie-over{
      background-color: #fff;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      box-shadow: 0px -3px 5px 
      rgba(0, 0, 0.1);
      color: #364038;
      padding: 1rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
      max-height: 100%;
      transform: translateY(102%);
      transition: transform 0.3s ease-in-out;
      
  }


.movie:hover .movie-over{
    transform: translateY(0%);
}


.movieheader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
}


.banner{
  flex: 0 0 auto;
  margin-right: 30px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 1s;
  overflow: hidden;
}

.banner-content{
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, #030b17 80%, #0c111b00);
  color:#fff;
}

.banner-title{
  padding-left: 50px;
  text-transform: capitalize;
  margin-top: 80px;
}

.banner-des{
  width: 80%;
  line-height: 30px;
  padding-left: 50px;
  margin-top: 30px;
  opacity: 0.8;
}

.tag {
  background-color: #161414;
  padding: 0.5rem;
  border-radius: 5px;
}

.tag.green{
  color: green;
}

.tag.orange{
  color: orange;
}

.tag.red{
  color: red;
}